<launch>
  <!-- Assignment #6, step 1: mapping. After mapping save map with: rosrun map_server map_saver -f assignment6_map --> 
  <include file="$(find robotont_gazebo)/launch/world_minimaze.launch">
    <arg name="model" value="robotont_gazebo_lidar"/>
  </include>
  <include file="$(find robotont_demos)/launch/gmapping.launch"/>
  <include file="$(find robotont_demos)/launch/2d_slam_display.launch"/>
  <node name="teleop_twist_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" />
</launch>
