<launch>
  <!-- Assignment #6, step 2: automatic navigating. Before load map: rosrun map_server map_server assignment6_map.yaml -->
  <include file="$(find robotont_gazebo)/launch/world_minimaze.launch">
    <arg name="model" value="robotont_gazebo_lidar"/>
  </include>
  <node name="amcl" pkg="amcl" type="amcl" />
  <include file="$(find robotont_navigation)/launch/move_base.launch"/>
  <include file="$(find robotont_demos)/launch/2d_slam_display.launch"/>
</launch>
